@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex justify-content-center vh-60 align-items-center text-center"style="height:60vh; padding-top:40px;">

    <div class="text-center mt-">
        <h1 class="display-4 fw-bold">Welcome</h1>
    <p>Click Category in the navigation bar to get started.</p>
</div></div>
